$brand: #215273;

body{
  background: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  -webkit-font-smoothing: antialiased!important;
}

.navbar{
  margin-bottom: -101px;
  min-height: 75px;
  padding-top: 30px;

  .navbar-brand img{
    width: 100px;
    height: auto;
  }
}

h1, h2, h3{
  font-family: 'Roboto', sans-serif;
}

h2{
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  color: #343140;
  margin-bottom: 20px;
}

.btn{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  border: none;
  padding: 10px 40px;
}

.btn-primary{
    background: $brand;
    color: #ffffff;
    &:hover{
      background: #00A398;
      color: #ffffff;
    }
}

.btn-secondary{
  background: #ffffff;
  color: $brand;
  &:hover{
    background: #00A398;
    color: #ffffff;
  }
}

#hero{
  padding: 125px 0 20px 0;
  background: rgb(33,82,115);
  background: -moz-linear-gradient(90deg, rgba(33,82,115,1) 0%, rgba(0,163,152,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(33,82,115,1) 0%, rgba(0,163,152,1) 100%);
  background: linear-gradient(90deg, rgba(33,82,115,1) 0%, rgba(0,163,152,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#215273",endColorstr="#00a398",GradientType=1);


  h1, p{
    color: #ffffff;
  }

  h1{
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    padding-bottom: 20px;
  }

  h2{
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
  }

  p{
    font-size: 24px;
    line-height: 32px;
  }

  .hero-form-container{
    width: auto;
    background: #ffffff;
    padding: 20px 30px;
    text-align: center;
    border-radius: 3px;
    -webkit-box-shadow: 0px 10px 30px rgba(147, 147, 147, 0.5);
    box-shadow: 0px 10px 30px rgba(147, 147, 147, 0.5);
    margin-bottom: -200px;

    h2{
      color: $brand;
      font-size: 32px;
    }

    form{
      .form-floating>label{
        top:-5px;
        font-size: 14px;
        color: #95A0AD;
        background: #ffffff;
        opacity: 1;
        padding: 0 0 0 10px;
        height: auto;
      }
      .btn{
        margin-top: 10px;
      }
    }
  }


}

#main_content{
  margin-top: 240px;

  .first, .second{
    margin: 50px 0;
    position: relative;
    z-index: 9;
    h2{
      margin-top: 20px;
    }
    div:first-child{
      position: relative;
      z-index: 99;
    }
    &:before{
      background: linear-gradient(to right, white 20%, #F2F3F4 20%);
      bottom: 0;
    height: 320px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    content: '';
    display: block;
    box-sizing: border-box;
    }
    img{
      padding: 30px 0px 30px 0px;
    }
  }

  .second{
    &:before{
      background: linear-gradient(to left, white 20%, #F2F3F4 20%);
    }
  }
}


#footer_cta{
  background: $brand;
  padding: 30px 0;
  text-align: center;
  margin: 20px 0;
  h2, p{
    color: #ffffff;
  }
  h2{
    font-size: 36px;
  }
  p{
    font-size: 24px;
  padding-bottom: 10px;
  }
}


footer{
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  a{
    color: $brand;
    text-decoration: none;
    padding-right: 10px;
    padding-bottom: 30px;
    &:last-child{
      padding-right: 0;
    }
    &:hover{
      color: $brand;
      text-decoration: underline;
    }
  }
}





// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
#main_content{
  .first{
    &:before{
      height: 430px;
    }
  }
  .second{
    &:before{
      height: 430px;
    }
  }
}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #hero{
    padding: 160px 0 80px 0;
    h1{
      font-size: 48px;
      line-height: 60px;
    }
    .hero-form-container{
      width: auto;
    }
  }

  #main_content{
    .first, .second{
      margin: 100px 0;
    }
    .first{
      &:before{
        height: 300px;
        background: linear-gradient(to right, white 55%, #F2F3F4 55%);
      }
    }
    .second{
      &:before{
        height: 300px;
        background: linear-gradient(to left, white 55%, #F2F3F4 55%);
      }
    }
  }

footer{
  a{
    padding-bottom: 0;
  }
}

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  h2{
    font-size: 44px;
    line-height: 48px;
  }
  #hero{
    .hero-form-container{
      h2{
        font-size: 24px;
      }
    }
  }

  #main_content{
    .first{
      &:before{
        height: 400px;
      }
    }
    .second{
      &:before{
        height: 400px;
      }
    }
  }


  footer{
    .links{
      text-align: right;
    }
    .copyright{
      text-align: left;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #hero{
    .hero-form-container{
      width: 480px;
      h2{
        font-size: 30px;
      }
    }
  }
  #main_content{
    .first{
      &:before{
        height: 430px;
        background: linear-gradient(to right, white 60%, #F2F3F4 60%);
      }
    }
    .second{
      &:before{
        height: 430px;
        background: linear-gradient(to left, white 60%, #F2F3F4 60%);
      }
    }
  }

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  #main_content{
    .first{
      &:before{
        height: 430px;
        background: linear-gradient(to right, white 60%, #F2F3F4 60%);
      }
    }
    .second{
      &:before{
        height: 430px;
        background: linear-gradient(to left, white 60%, #F2F3F4 60%);
      }
    }
  }
}
